bower_components/*
presentation/October14th/*.aux
presentation/October14th/*.log
presentation/October14th/*.nav
presentation/October14th/*.out
presentation/October14th/*.snm
presentation/October14th/*.toc
presentation/October14th/.DS_Store

presentation/October7th/*.aux
presentation/October7th/*.log
presentation/October7th/*.nav
presentation/October7th/*.out
presentation/October7th/*.snm
presentation/October7th/*.toc
presentation/October7th/.DS_Store

presentation/.DS_Store
.DS_Store
